vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|21 Jul 2007 00:07:46 -0000
vti_extenderversion:SR|6.0.2.6551
vti_author:SR|PCA1035B\\jez04
vti_modifiedby:SR|PCA1035B\\jez04
vti_timecreated:TR|21 Jul 2007 00:07:46 -0000
vti_cacheddtm:TX|21 Jul 2007 00:07:46 -0000
vti_filesize:IR|1548
vti_cachedlinkinfo:VX|S|../../images/bulet_small.gif
vti_cachedsvcrellinks:VX|NSUS|file:///C:/Documents\\ and\\ Settings/jez04/My\\ Documents/projekty/UniSave2006/UniSave2006Implementation/images/bulet_small.gif
vti_backlinkinfo:VX|UniSave/PortSelection.html UniSave/MainFrame.html UniSave/MesurmentStartup.html UniSave/ValuePanel.html UniSave/Graph.html UniSave/GraphSetting.html UniSave/Markers.html UniSave/Protocol.html UniSave/ProtocolSetting.html UniSave/SettingDialog.html UniSave/UnitConversion.html UniSave/ExtendedSettting.html
